@font-face {
    font-family: "DistantGalaxy";
    src: url("SFDistantGalaxy_CUSTOM_PL.ttf");
}
@media (max-width: 768px) {
    .menu-open {
        background: linear-gradient(to top, #1e293b, #000);
    }
}
#nazwa{
    font-family: "DistantGalaxy";
}
h2, .teko-headings {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.teko-headings-small {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}
/*schować scrollbar (na rzecz galerii sław)*/
#galleryList {
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 8px;
}

#galleryList::-webkit-scrollbar {
    display: none;
}

/*kropki w galerii sław (których na razie nie ma)*/
/*.dot.active {
    transform: scale(1.5);
}*/


/*css do galerii sław na małych ekranach*/
/*.hidden {
    display: none;
}

.visible {
    display: block;
    animation: slideUp 0.5s ease-in-out;
} <---- chyba nie potrzebne*/

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#galleryList li {
    flex: 0 0 auto;
    width: 80vw;
    position: relative;
}

 


.btn { /*zdefiniowane zarówno za pomoca tailwinda jak i style.css, ponieważ nie działało :) */
    background: #fff;
    color: oklch(44.6% 0.03 256.802);
    font-weight: 400;
    width: 100%;
    border: 1px solid oklch(44.6% 0.03 256.802);
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background: oklch(44.6% 0.03 256.802);
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
.correct{
    background: oklch(96.2% 0.044 156.743);
}
.incorrect{
    background: oklch(89.2% 0.058 10.001);
}
@media (max-width: 768px) {
    #galleryList li {
        width: 90%;
        background: none;
    }
    
    #halloffame {
        margin-top: 20px;
    }

    .gallery-img {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 10px;
    }

    .gallery-content {
        padding: 10px;
        background: white;
        border-radius: 8px;
        color: #000;
    }
}

@media (min-width: 769px) {
    #galleryList li {
        width: 80vw;
        
    }

   .gallery-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    border-radius: 12px;
}

    .gallery-content {
    position: relative;
    z-index: 1;
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin-top: 300px;  
    margin-left: 100px;
    color: #000; 
    padding: 8px;
}
    #halloffame {
        padding-top: 10px;
        padding-bottom: 0px;
    }
