@font-face {
    font-family: "DistantGalaxy";
    src: url("SFDistantGalaxy_CUSTOM_PL.ttf");
}
@media (max-width: 768px) {
    .menu-open {
        background: linear-gradient(to top, #1e293b, #000);
    }
}
#nazwa{
    font-family: "DistantGalaxy";
}
h2, .teko-headings {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.teko-headings-small {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}
/*schować scrollbar (na rzecz galerii sław)*/
#galleryList {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
#galleryList::-webkit-scrollbar {
    display: none;
}
/*kropki w galerii sław (których na razie nie ma)*/
/*.dot.active {
    transform: scale(1.5);
}*/


/*css do galerii sław na małych ekranach*/
/*.hidden {
    display: none;
}

.visible {
    display: block;
    animation: slideUp 0.5s ease-in-out;
} <---- chyba nie potrzebne*/

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#galleryList {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#galleryList li {
    flex: 0 0 auto;
    width: 80vw;
}

 #galleryList li div {
     max-width: 90%;
     margin: 0 auto;
     left: 0;
     float: none;
      transform: translateY(-50%);
     top: 50%;
 }

@media (max-width: 768px) {
    #galleryList li {
        width: 100vw;
        background-size:cover;
        background-position: center top;
    }
}

.slide-up-container {
    transition: transform 0.5s ease, top 0.5s ease;
    position: relative;
}

 .slide-up {
    top: 30% !important; 
    transition: top 0.5s ease-in-out;
  }

  .slide-text.visible {
    display: block !important;
  }

  @media (min-width: 768px) {
    .slide-up {
      top: 50% !important;
    }
  }
